/* https://supfort.com/pure-css-accordion-without-javascript/ */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* 400, 700 */

:root {
  --very-dark-red: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;
}

/* https://supfort.com/pure-css-accordion-without-javascript/ */

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

input + label + .answer {
  display: none;
}

input:checked + label + .answer {
  display: block;
}
