@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* 400, 700 */

:root {
  --very-dark-red: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;

  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--very-dark-red);
  margin-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}

/* https://supfort.com/pure-css-accordion-without-javascript/ */

input {
  display: none;
}

img {
  display: block;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--very-dark-grayish-blue);
  padding: 2rem 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

label:last-of-type,
input:checked + label:last-of-type + .answer {
  border-bottom: none;
}

input:checked + label {
  color: var(--very-dark-red);
  font-weight: 700;
  border-bottom: 0;
}

input + label + .answer {
  display: none;
}

input:checked + label + .answer {
  display: block;
  padding: 0 0 2rem;
  border-bottom: 1px solid var(--light-grayish-blue);
  animation: fade-in 150ms ease-in-out;
}

input:checked + label img {
  transform: rotate(180deg);
}

.root-wrapper {
  position: relative;
}

#root {
  position: relative;
  background-color: white;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: -47.5rem -24rem;
  background-repeat: no-repeat;
  width: 80rem;
  padding: 4rem 6rem 6rem 40rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.root-wrapper > img,
#root > img {
  position: absolute;
}

img.box {
  top: 15.75rem;
  left: -7.75rem;
  z-index: 2;
  animation: move-up-down 2s ease-in-out infinite;
}

img.woman {
  top: 4rem;
  left: -6.5rem;
}

@media (max-width: 768px) {
  body {
    padding: 2rem;
  }

  .root-wrapper {
    width: 100%;
    /* padding: 2rem;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-position: top;
    overflow: visible; */
  }

  #root {
    width: 100%;
    padding: 2rem;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-position: top;
    overflow: visible;
  }

  h1 {
    margin-top: 10rem;
    text-align: center;
  }

  img.box {
    top: -7rem;
    left: 0.75rem;
    scale: 0.5;
  }

  img.woman {
    top: -16.5rem;
    left: -4rem;
    scale: 0.5;
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
