@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* 400, 700 */

:root {
  --very-dark-red: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;

  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* https://supfort.com/pure-css-accordion-without-javascript/ */

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

input + label + .answer {
  display: none;
}

input:checked + label + .answer {
  display: block;
}

.root-wrapper {
  position: relative;
}

#root {
  position: relative;
  background-color: white;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: -50rem -25rem;
  background-repeat: no-repeat;
  background-size: 105%;
  width: 80rem;
  height: 50rem;
  padding: 2rem 2rem 2rem 50rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.root-wrapper img,
#root img {
  position: absolute;
}

img.box {
  top: 15.75rem;
  left: -7.75rem;
  z-index: 2;
  animation: move-up-down 2s ease-in-out infinite;
}

img.woman {
  top: 4rem;
  left: -6rem;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
